<%= form_for(review) do |f| %>
    <% if review.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(review.errors.count, "error") %> prohibited this review from being saved:</h2>
          <ul>
            <% review.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
    <% end %>


   <p>Write a review of <span><em><%= @film.filmname %></em></span></p>
   <fieldset class = "special_fieldset">

      <% if !current_user %>
        <p class = 'large'>You must be logged in to submit a review. If you have an account, please  <%= link_to "sign in", new_user_session_path, class: 'small_button' %>
          <br /><br /> If not, please <%= link_to 'register', new_user_registration_path, class: 'small_button' %></p>
      <% end %>

    <div class="field">
      <%= f.hidden_field :film_id %>
    </div>

    <div class="field">
      <%= f.hidden_field :user_id %>
    </div>

    <div id = "post_review">
      <%= f.text_area :post, rows: 6, placeholder: 'Write your review here' %>

      <fieldset>
        <legend>Your score for this film</legend>
        <%= f.radio_button :score, 1 %><%= f.label 'review_score', 1 %>
        <%= f.radio_button :score, 2 %><%= f.label 'review_score', 2 %>
        <%= f.radio_button :score, 3 %><%= f.label 'review_score', 3 %>
        <%= f.radio_button :score, 4 %><%= f.label 'review_score', 4 %>
        <%= f.radio_button :score, 5 %><%= f.label 'review_score', 5 %>
      </fieldset>
    </div>

        <div class="actions">
          <% if current_user %>
            <%= f.submit "Submit your review", class: 'review_button' %>
          <% end %>
        </div>
    </fieldset>
<% end %>