<p id="notice"><%= notice %></p>
<h1>  <%= @film.filmname %> </h1>

<p class = 'film_description'>
  <%= @film.description %>
</p>

<div id = "image_detail">
<p >
  <%= image_tag(@film.image_url) %>
</p>

</div>

<div id = "film_detail">
<p>
  <b>Directed by:</b>
  <%= @film.director %>
</p>
<p>
  <b>Starring:</b>
  <%= @film.actors %>
</p>

<p>
  <b>Year of release:</b>
  <%= @film.release_year %>
</p>

<p>
  <b>Running time:</b>
  <%= @film.length %>
</p>

<p>
  <b>Price:</b>
  <%= number_to_currency(@film.price, :unit => '&euro;') %>
</p>

  <%= button_to 'Add to my Cart', line_items_path(:film_id => @film), class: 'show_button' %>
</div> <br><br>

 <div class = "buttons">
    <% if current_user.try(:admin?) %>
    <%= link_to 'Edit Film', edit_film_path(@film), class: 'small_button' %>
    <%= link_to 'Delete Film', @film, method: :delete, class: 'small_button', data: {confirm: 'Are you sure?'} %>
    <%= link_to 'Create New Film', new_film_path, class: 'small_button' %><br><br>
  <% end %>
  </div>

<div id="partials" >
    <%= render :partial => 'review_form', :locals=>{:review => Review.new(:film_id => @film.id) } %>
    <%= render :partial => 'review_index', :locals => {:reviews => @film.reviews} %> <br>
</div>
