<%= form_for(@review) do |f| %>
  <% if @review.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@review.errors.count, "error") %> prohibited this review from being saved:</h2>

      <ul>
      <% @review.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.hidden_field :film_id %>
  </div>
  <div class="field">
    <%= f.hidden_field :user_id %>
  </div>
  <div class="field">
    <%= f.label :post %><br />
    <%= f.text_area :post, rows: 12 %>
  </div>

  <fieldset class = "edit_fieldset">
    <legend>Your score for this film</legend>
    <%= f.radio_button :score, 1 %><%= f.label 'review_score', 1 %>
    <%= f.radio_button :score, 2 %><%= f.label 'review_score', 2 %>
    <%= f.radio_button :score, 3 %><%= f.label 'review_score', 3 %>
    <%= f.radio_button :score, 4 %><%= f.label 'review_score', 4 %>
    <%= f.radio_button :score, 5 %><%= f.label 'review_score', 5 %>
  </fieldset>


  <% if current_user.try(:admin) %>
      <div class="field">
         <%= f.label :accepted %><br />
         <%= f.check_box :accepted %>
      </div>
   <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
