<h1>Listing reviews</h1>

<table>
  <tr>
    <th>Film</th>
    <th>User</th>
    <th>Post</th>
    <th>Accepted</th>
    <th>Score</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @reviews.each do |review| %>
  <tr>
    <td><%= review.film.filmname %></td>
    <td><%= review.user.email %></td>
    <td><%= review.post %></td>
    <td><%= review.accepted %></td>
    <td><%= review.average_score %></td>
    <td><%= link_to 'Show', review %></td>
    <td><%= link_to 'Edit', edit_review_path(review) %></td>
    <td><%= link_to 'Destroy', review, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<div id="paginate"><%= will_paginate @review %></div>

