<!DOCTYPE html>
<html>
<head>
  <title>BlogAndBuy</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= csrf_meta_tags %>
</head>
<body>

<div id="container" >

  <header>
    <h1>BlogAndBuy</h1>
  </header>

  <nav>
      <%= link_to "Film Index", root_path, class: 'button' %>

      <% unless current_cart.line_items.empty? %>
         <%= link_to 'See Your Cart', see_your_cart_path, class: 'button' %>
      <% end %>

      <% if current_user.try(:admin) %>
        <%= link_to "Reviews", reviews_path, class: 'button' %>
      <% end %>

    <div id="register">
        <% if user_signed_in? %>
            <div>Signed in as... <span class = 'large'><%= current_user.email %></span> <%= link_to 'Sign out', destroy_user_session_path, :method => :delete, class: 'button' %> </div>
        <% else %>
            <%= link_to 'Register', new_user_registration_path, class: 'button' %> or <%= link_to 'Sign in', new_user_session_path, class: 'button' %>
        <% end %>
    </div>
</nav>

<%= yield %>

<footer>
  <p>Copyright Patrick Dunlevy &copy; 2013</p>
</footer>

</div>

<%= javascript_include_tag "application" %>

</body>
</html>
